<div class="row">
    <div class="col-xs-12 mt-5">
        <!-- <form>
            <div class="from-group"> -->
                <input type="text"  class="from-control" [(ngModel)]="recipeName" placeholder="search"> &nbsp;&nbsp;
                <button class="btn btn-dark" type="submit" (click)="searchRecipe()" >Serach</button>
            <!-- </div>
        </form>
         -->
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12" *ngIf="!notMatchInpute && !searchingRecipe">
        <app-recipe-item *ngFor="let recipeElement of recipesArray" [recipe]="recipeElement"></app-recipe-item>
        <!-- <app-recipe-item *ngFor="let recipeElement of recipesArray | filterRecipePipe:recipeName" [recipe]="recipeElement"></app-recipe-item> -->
    </div>
    <div #noRecipeResponse *ngIf="!searchingRecipe && notMatchInpute">
        <p>no match found</p>
    </div>
    <div *ngIf="searchingRecipe">
        <h6>Loading...</h6>
    </div>
</div>
